
/* Estilo para o botão de login */
.login-btn {
    color: white;
}

.login-btn img {/*.login-btn .login-icon*/
    width: 40px;
    height: 40px;    
}

.descricao:hover {
    text-decoration: underline;
 }