/* Estilos principais da página */

/* Corpo da página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    height: 100%;
    box-sizing: border-box;
    
}

/* Barra de navegação geral */
nav {
    display: flex;
    justify-content: space-between;  
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    color: black;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);  /* Sombra sutil abaixo */
}

/* Logo */
.logo {
    max-height: 20px;  /* Defina a altura máxima para o logo */
    width: auto;
}

.nav-buttons {
    display: flex;
    justify-content: flex-end;  /* Alinha os botões à direita */
    align-items: center;  /* Alinha os botões verticalmente */
}

.nav-buttons .nav-btn:last-child{
    display: none;
}

/* Botões genéricos dentro do nav */
.nav-btn {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

/* Link ativo no menu */
a {
    text-decoration: none;
    color: inherit;
}

/* Estilos adicionais (se necessário) */
h1, p {
    margin: 20px;
    padding: 10px;
}
