/* Estilos principais da página */

/* Corpo da página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    height: 100%;
    box-sizing: border-box;
    
}

/* Barra de navegação */
nav {
    display: flex;              /* Usando Flexbox */
    justify-content: flex-end;  /* Alinha o botão à direita */
    align-items: center;        /* Alinha o conteúdo verticalmente */
    padding: 10px 0px;
    background-color: #333;
    color: white;
    position: sticky;
    top: 0;
    left: 0;               /* Garante que o menu ocupe toda a largura */
    width: 100%;                /* Largura total da tela */
}

/* Link ativo no menu */
a {
    text-decoration: none;
    color: inherit;
}

/* Estilos adicionais (se necessário) */
h1, p {
    margin: 20px;
    padding: 10px;
}
