/* Reset básico */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Botão de menu */
.menu-btn {
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.menu-btn img {
    width: 100%;
    height: auto;
}


.close-btn img{
    width: 40px;
    height: 40px;
}

/* Menu (inicialmente escondido) */
.menu {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: white;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none; /* Esconde o menu por padrão */
    flex-direction: column;
    text-align: center;
}

.menu li {
    padding: 15px;
}

.menu a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: #00bcd4;
}

/* Quando o menu está aberto */
nav.menu-open .nav-buttons > .nav-btn  {
    display: none; /* Esconde os botões de pesquisa e login */
}

nav.menu-open .nav-buttons .nav-btn:last-child{
    display: flex;
}

nav.menu-open  .close-icon {
    display: flex; /* Mostra o ícone de fechar */
}

nav.menu-open .menu {
    display: flex; /* Exibe o menu */
}

/* Responsividade */
@media (min-width: 768px) {
    .menu-btn {
        display: none; /* Esconde o botão de menu em telas grandes */
    }

    .menu {
        display: flex;
        flex-direction: row;
        position: static;
        justify-content: center;
        align-items: center;
    }

    .menu li {
        padding: 0 20px;
    }
}
