/* Reset básico */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Botão de menu */
.menu-btn {
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}

.menu-btn img {
    width: 100%;
    height: auto;
    margin-left: 10px;
}

.close-btn img {
    width: 40px;
    height: 40px;
}

/* Estrutura principal do menu */
.menu-container {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    max-height: 100vh; 
    background-color: white;
    padding: 10px;
    display: none; 
    flex-direction: column;
    text-align: left;
    overflow-y: auto; 
    scroll-behavior: smooth; 
}

/* Estilo da barra de scroll */
.menu-container::-webkit-scrollbar {
    width: 8px;
}

.menu-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.menu-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.menu-container::-webkit-scrollbar-track {
    background: #f0f0f0;
}

.menu-container .menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-container .menu-list li {
    padding: 25px;
    border-bottom: 1px solid #ddd;
}

.menu-container .menu-list li:hover {
    background-color: #f0f0f0;
}

.menu-container .menu-list a {
    text-decoration: none;
    color: #2c2c2c;
    font-size: 20px;
    font-family: "Montserrat", "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 300;
    line-height: 24px;
}

/* Seção extra */
.extra-section {
    margin-top: 15px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espaçamento entre os links */
}

.extra-section a {
    font-size: 16px;
    color: #555;
    text-decoration: none;
    transition: color 0.3s ease;
}

.extra-section a:hover {
    color: #00bcd4; /* Mesma cor de hover */
}



nav.menu-open .nav-buttons > .nav-btn {
    display: none; /* Esconde os botões de pesquisa e login */
}

nav.menu-open .nav-buttons .nav-btn:last-child {
    display: flex;
}

nav.menu-open .close-icon {
    display: flex; /* Mostra o ícone de fechar */
}

nav.menu-open .menu-container {
    display: flex; /* Exibe o menu */
}

/* Responsividade */
@media (min-width: 768px) {
    .menu-btn {
        display: none; /* Esconde o botão de menu em telas grandes */
    }

    .menu-container {
        display: flex;
        flex-direction: row;
        position: static;
        justify-content: center;
        align-items: center;
        overflow-y: visible; /* Remove scroll interno em telas grandes */
        max-height: none; /* Remove limite de altura em telas grandes */
    }

    .menu-container .menu-list li {
        padding: 0 20px;
    }
}
